@import "tailwindcss";

@theme {
  --color-urban-dark: #121212;
}

@plugin "daisyui";

:root {
  --background: #ffffff;
}

@plugin "daisyui/theme" {
  name: "request-it-again";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #f2d600;
  --color-primary-content: oklch(14% 0.004 49.25);
  --color-secondary: #1b4d3e;
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: oklch(68% 0.162 75.834);
  --color-accent-content: oklch(98% 0.026 102.212);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: #001cf2;
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: #00f25d;
  --color-success-content: #000000;
  --color-warning: #f25d00;
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: #000000;
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}
